@import 'variables';

.doc-container {
  height: calc(100vh - 82px);
  width: 100%;

  .doc-toc-container {
    z-index: 0 !important;
    width: 200px;
    height: 100%;
    border: none !important;
  }
  .doc-content-container {
    height: 100%;
    background-color: $bg-color0;

    .md-container {
      padding: 1em;

      a {
        color: rgba(0, 162, 255, 0.678);
      }
    }
    .doc-toc-btn {
      z-index: 5;
      background-color: $bg-color1;
      position: fixed;
      right: 10px;
      bottom: 36px;
    }
  }
}

ng-scrollbar {
  --scrollbar-size: 7px;
  --scrollbar-thumb-color: rgba(111, 111, 111, 0.5);
  --scrollbar-track-color: rgba(255, 255, 255, 0);
  --scrollbar-border-radius: 10px;
  --scrollbar-hover-size: 9px;
  --scrollbar-padding: 4px;
}
