// background colors
$bg-color0: #ffffff;
$bg-color1: #efefef;

// splitter bar color

// icon colors
$win-icon_hover-color: #bdbdbd;
$win-icon-color: #212121;
$win-close_icon-hover--color: #d84315;

// font colors
$font-normal-color: #212121;
