// background colors
// $bg-color0: #ffffff;
$bg-color0: #f3f3f3;
$bg-color1: #ebebeb;
// $bg-color1: #eeeeee;
$bg-color2: #eee;

// splitter bar color

// icon colors
$win-icon_hover-color: #bdbdbd;
$win-icon-color: #212121;
$win-close_icon-hover--color: #d84315;

// font colors
$font-normal-color: #212121;
