<div style="display: flex; flex-direction: column;">
  <title-bar *ngIf="isWin32"></title-bar>
  <app-splitter orientation="horizontal" splitBarSize="2px" style="height: calc(100vh - 26px); width: 100vw;">
    <app-splitter-pane [size]="size" [minSize]="minSize" [maxSize]="maxSize" [collapsible]="true" class="right-pane">
      <app-sidebar></app-sidebar>
    </app-splitter-pane>
    <app-splitter-pane>
      <app-content></app-content>
      <app-status-bar></app-status-bar>
    </app-splitter-pane>
  </app-splitter>
</div>
