<div class="title-bar">
  <div class="window-title" [ngStyle]="{ width: isWin32 ? 'calc(100% - 120px)' : '100%' }">
    docer
  </div>
  <div class="window-controls" *ngIf="isWin32">
    <div class="window-controls-item" (click)="windowControl('min')">
      <mat-icon class="win-icon" svgIcon="minimize"></mat-icon>
    </div>
    <div class="window-controls-item" *ngIf="!isFullscreen" (click)="windowControl('max')">
      <mat-icon class="win-icon" svgIcon="fullscreen"></mat-icon>
    </div>
    <div class="window-controls-item" *ngIf="isFullscreen" (click)="windowControl('unmax')">
      <mat-icon class="win-icon" svgIcon="fullscreen_exit"></mat-icon>
    </div>
    <div class="window-controls-item-close" (click)="windowControl('close')">
      <mat-icon class="win-icon" svgIcon="close"></mat-icon>
    </div>
  </div>
</div>
